*.iml
.gradle
.idea
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
data/build/
data/libs/
data/src/androidTest/
data/src/main/java/
data/src/main/res/drawable/
data/src/test/
default_android_dependencies/build/generated/assets/
default_android_dependencies/build/generated/res/
default_android_dependencies/build/generated/source/aidl/
default_android_dependencies/build/generated/source/apt/
default_android_dependencies/build/generated/source/rs/
default_android_dependencies/build/intermediates/annotations/
default_android_dependencies/build/intermediates/bundles/debug/aidl/
default_android_dependencies/build/intermediates/bundles/debug/assets/
default_android_dependencies/build/intermediates/bundles/debug/jni/
default_android_dependencies/build/intermediates/bundles/debug/libs/
default_android_dependencies/build/intermediates/bundles/debug/res/
default_android_dependencies/build/intermediates/bundles/release/aidl/
default_android_dependencies/build/intermediates/bundles/release/assets/
default_android_dependencies/build/intermediates/bundles/release/jni/
default_android_dependencies/build/intermediates/bundles/release/libs/
default_android_dependencies/build/intermediates/bundles/release/res/
default_android_dependencies/build/intermediates/dependency-cache/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-core/2.2.2/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test.espresso/espresso-idling-resource/2.2.2/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/exposed-instrumentation-api-publish/0.5/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/rules/0.5/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/rules/0.5/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support.test/runner/0.5/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/animated-vector-drawable/24.2.1/res/
default_android_dependencies/build/int
ermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/appcompat-v7/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-compat/24.2.1/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-ui/24.2.1/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-core-utils/24.2.1/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-fragment/24.2.1/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-media-compat/24.2.1/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-v4/24.2.1/res/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/aidl/
default_android_dependencies/build
/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.android.support/support-vector-drawable/24.2.1/res/
default_android_dependencies/build/intermediates/exploded-aar/com.jakewharton.timber/timber/4.3.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/com.jakewharton.timber/timber/4.3.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/com.jakewharton.timber/timber/4.3.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/com.jakewharton.timber/timber/4.3.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/com.jakewharton.timber/timber/4.3.1/res/
default_android_dependencies/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/aidl/
default_android_dependencies/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/assets/
default_android_dependencies/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/jni/
default_android_dependencies/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/libs/
default_android_dependencies/build/intermediates/exploded-aar/io.reactivex/rxandroid/1.2.1/res/
default_android_dependencies/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
default_android_dependencies/build/intermediates/incremental/mergeDebugResources/aapt-temp/
default_android_dependencies/build/intermediates/incremental/mergeReleaseResources/aapt-temp/
default_android_dependencies/build/intermediates/incremental/packageDebugAndroidTest/
default_android_dependencies/build/intermediates/incremental/packageDebugResources/aapt-temp/
default_android_dependencies/build/intermediates/incremental/packageDebugResources/merged.dir/
default_android_dependencies/build/intermediates/incremental/packageReleaseResources/aapt-temp/
default_android_dependencies/build/intermediates/incremental/packageReleaseResources/merged.dir/
default_android_dependencies/build/intermediates/incremental/processDebugAndroidTestResources/
default_android_dependencies/build/intermediates/incremental/processDebugResources/
default_android_dependencies/build/intermediates/incremental/processReleaseResources/
default_android_dependencies/build/intermediates/jniLibs/
default_android_dependencies/build/intermediates/lint/
default_android_dependencies/build/intermediates/manifest/tmp/
default_android_dependencies/build/intermediates/rs/
default_android_dependencies/build/intermediates/shaders/
default_android_dependencies/build/intermediates/transforms/mergeJavaRes/
default_android_dependencies/build/intermediates/transforms/mergeJniLibs/
default_android_dependencies/build/tmp/
default_android_dependencies/libs/
domain/libs/
domain/src/
presentation/build/
presentation/libs/
presentation/src/androidTest/
presentation/src/main/res/drawable/
presentation/src/test/
